#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
}

.main-panel {
  display: flex;
  /* gap: 5vw; */
}

.error-modal {
  position: absolute;
  width: 25vw;
  padding: 2.5vh 2.5vw;
  background-color: #484349;
  color: #F7F0F0;
  border: gray solid 1px;
  border-radius: 5px;
  bottom: 5vh;
  right: 5vh;
  line-height: 1.5em;
  text-align: left;
  opacity: 0.9;
}

.error-modal pre {
  display: inline;
  padding: 0.5vh;
  letter-spacing: 0;
  background-color: #FC5130;
}

.machine-panel {
  display: flex;
}

.input-panel {
  width: 20vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F7F0F0;
  padding: 5vh 2.5vw;
}

.middle-panel {
  margin-top: 5vh;
  width: 40vw;
}

.memory-panel {
  margin-top: 5vh;
  flex-direction: row;
  width: 32.5vw;
}

.control-panel {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.control-panel button {
  margin-right: 1vw;
}

.editor-container {
  border: 1px solid #444;
  height: 100%;
  background-color: white; 
  color: #f8f8f2;
  font-family: "Fira Code";

  /* padding-left: 0px; */
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #484349;

  height: 50vh;
  line-height: 1.5rem;
  font-size: 0.8rem;
  text-wrap: wrap;
  overflow-x: hidden !important;
  white-space: pre-wrap !important; /* Allows wrapping */
  word-break: break-word !important; /* Ensures long words break */
}
.cm-editor {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  overflow-x: hidden !important;
  white-space: pre-wrap !important; /* Allows wrapping */
  word-break: break-word !important; /* Ensures long words break */
}

.editor-container:focus,
.editor-container:focus-visible,
.cm-editor:focus,
.cm-editor:focus-visible {
    outline: none !important; /* Removes the dotted border */
}

