#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
}

.main-panel {
  display: flex;
  /* gap: 5vw; */
}

.machine-panel {
  display: flex;
}

.input-panel {
  width: 20vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F7F0F0;
  padding: 5vh 2.5vw;
}

.middle-panel {
  margin-top: 5vh;
  width: 40vw;
}

.memory-panel {
  margin-top: 5vh;
  flex-direction: row;
  width: 32.5vw;
}

.control-panel {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.control-panel button {
  margin-right: 1vw;
}
